footer{
    background-color: $color1;
    color: $color3;
}
.rs{
    display: inline-block;
    font-size: 20px;
    margin: 0 5px 0 5px;
}
.rs1 :hover{
    color: black;
}
.rs2 :hover{
    color: rgb(195, 13, 195);
}
.rs3 :hover{
    color: blue;
}