.galeria {
    display: grid;
    grid-template-areas: "galeria1 galeria2"
    "galeria1 galeria2"
        "galeria1 galeria3"
        "galeria1 galeria3"
        "galeria1 galeria4";
    height: 50vh;
    row-gap: 10px;
    column-gap: 10px;
    padding: 10px 10px 10px 10px;
}

.galeria1 {
    grid-area: galeria1;
    background-image: url(./Assets/picture-2008484_1280.jpg);
}

.galeria2 {
    grid-area: galeria2;
    background-image: url(./Assets/shopping-1761230_1280.jpg);

}

.galeria3 {
    grid-area: galeria3;
    background-image: url(./Assets/shopping-1761230_1280.jpg);
}

.galeria4 {
    grid-area: galeria4;
    background-image: url(./Assets/shopping-1761230_1280.jpg);
}

.ocupa {
    background-size: cover;
    background-position: center;
    border: 2px solid $color2;
}