.hombres-look{
    height: 400px;
    width: 300px;
    background-image: url(../Assets/picture-2008484_1280.jpg);
    background-position: center;
    background-size: cover;
    border: solid 3px $color2;
}
.mujeres-looks{
    height: 400px;
    width: 300px;
    background-position: center;
    background-size: cover;
    border: solid 3px $color2;
}
.mujeres-looks1{
    background-image: url(../Assets/Remera\ Outfit.png);
}
.mujeres-looks2{
    background-image: url(../Assets/buzo\ mujer.png);
}
.mujeres-looks3{
    background-image: url(../Assets/remera2.png);
}
.mujeres-looks4{
    background-image: url(../Assets/buzo\ mujer\ 2.png);
}
.mujeres-looks5{
    background-image: url(../Assets/ornamental-cherry-8703849_1280.jpg);
}
.mujeres-looks6{
    background-image: url(../Assets/robin-8708068_1280.jpg);
}
.hombres-look1{
    background-image: url(../Assets/Buzo\ Hombre\ 1.png);
    object-fit: cover;
}
.hombres-look2{
    background-image: url(../Assets/Buzo\ Hombre\ 2.png);
}
.hombres-look3{
    background-image: url(../Assets/Buzo\ Hombre\ 3.png);
}
.hombres-look4{
    background-image: url(../Assets/remera\ 3.png);
}