.muestrash{
    height: 700px;
    margin: 0px 2px 0px 2px;
    background-image: url(./Assets/picture-2008484_1280.png);
    background-position: center;
    background-size: cover;
    border: 3px solid #F3C3B2;
}