.muestras-h{
    height: 700px;
    background-image: url(Assets/Outfits-hombre.png);
    background-position: center;
    background-size: cover;
    border: 3px solid $color2;
}
.muestras-m{
    height: 700px;
    background-image: url(Assets/Outfit-mujer.png);
    background-position: center;
    background-size: cover;
    border: 3px solid $color2;
}