.muestras-h{
    height: 700px;
    background-image: url(Assets/Outfits-hombre.png);
    background-position: center;
    background-size: cover;
    border: 3px solid $color2;
}
.muestras-h1{
    background-image: url(../assets/577e4bfeb66e485d464bbe6a32e7f853.jpg);
}
.muestras-h2{
    background-image: url(../assets/ede384acb5531e14c0140afabed0d48d.jpg);
}
.muestras-h3{
    background-image: url(../assets/9679576a341b6014faf17c8127875120.jpg);
}
.muestras-m{
    height: 700px;
    background-image: url(Assets/Outfit-mujer.png);
    background-position: center;
    background-size: cover;
    border: 3px solid $color2;
}