@import url('https://fonts.googleapis.com/css2?family=Honk:MORF,SHLN@0..45,79.8&family=Luckiest+Guy&display=swap');
/* Variables */
$font1: "Luckiest Guy", cursive;
$color1: #657166;
$color2:#F3C3B2;
$color3:#CFD6C4;
/* Fin Variables */
@import "./partials/reset";
@import "./partials/header";
@import "./partials/footer";
@import "./partials/galeria";
@import "./partials/galeriaSexos";
@import "./partials/muestrasHombres";
@import "./partials/mediaQuerys";
.imgh {
    height: 700px;
    background-position: center;
    background-size: cover;
    object-fit: cover;
}
.imgh1{
    background-image: url(Assets/man-7061821_1280\ \(1\).jpg);
}
.imgh2{
    background-image: url(Assets/man-6790692_1280.jpg);
}
.imgh3{
    background-image: url(Assets/girl-5688101_1280.jpg);
}
.novedades{
    position: absolute;
    top: 70%;
    width: 340px;
    font-size: 18px;
    color: $color2;
    border: solid 3px rgb(189, 155, 155);
    text-shadow: black 3px 4px 5px;
}
.boton-nov{
    text-decoration: none;
    color: $color2;
    border: 3px solid rgb(189,155,155);
    border-radius: 0px;
}
.boton-nov:hover{
    background-color: $color2;
    color: white;
}
.imginfo{
    background-image: url(Assets/picture-2008484_1280.jpg);
    background-position: center;
    background-size: cover;
}
.imginfo1{
    background-image: url(Assets/WhatsApp\ Image\ 2024-04-24\ at\ 14.02.42.jpeg);
}
.bg-person{
    background-color: #586d5a;
    color: #CFD6C4;
}
.color-p{
    color:#F3C3B2;
} 
*::-webkit-scrollbar{
    width: 15px;
}
*::-webkit-scrollbar-track{
    background-color: $color1;
}
*::-webkit-scrollbar-thumb{
    background-color:$color2;
    border: 2px solid $color1;
}
