@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Honk:MORF,SHLN@0..45,79.8&family=Luckiest+Guy&display=swap");
/* Variables */
/* Fin Variables */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.barra-n {
  background-color: #657166;
  color: #CFD6C4;
  font-family: "Luckiest Guy", cursive;
}

.barra-n :hover {
  color: #F3C3B2;
}

footer {
  background-color: #657166;
  color: #CFD6C4;
}

.rs {
  display: inline-block;
  font-size: 20px;
  margin: 0 5px 0 5px;
}

.rs1 :hover {
  color: black;
}

.rs2 :hover {
  color: rgb(195, 13, 195);
}

.rs3 :hover {
  color: blue;
}

.galeria {
  display: grid;
  grid-template-areas: "galeria1 galeria2" "galeria1 galeria2" "galeria1 galeria3" "galeria1 galeria3" "galeria1 galeria4";
  height: 50vh;
  row-gap: 10px;
  column-gap: 10px;
  padding: 10px 10px 10px 10px;
}

.galeria1 {
  grid-area: galeria1;
  background-image: url(Assets/picture-2008484_1280.jpg);
}

.galeria2 {
  grid-area: galeria2;
  background-image: url(Assets/picture-2008484_1280.jpg);
}

.galeria3 {
  grid-area: galeria3;
  background-image: url(Assets/picture-2008484_1280.jpg);
}

.galeria4 {
  grid-area: galeria4;
  background-image: url(Assets/picture-2008484_1280.jpg);
}

.ocupa {
  background-size: cover;
  background-position: center;
  border: 2px solid #F3C3B2;
}

.card-look {
  border: solid 3px #F3C3B2;
  width: 18rem;
}

.btn-look {
  color: #F3C3B2;
  background-color: #657166;
  border: 2px solid #F3C3B2;
}

.btn-look:hover {
  color: #657166;
  background-color: #F3C3B2;
  border-color: #657166;
}

.muestras-h {
  height: 700px;
  background-image: url(Assets/Outfits-hombre.png);
  background-position: center;
  background-size: cover;
  border: 3px solid #F3C3B2;
}

.muestras-h1 {
  background-image: url(Assets/577e4bfeb66e485d464bbe6a32e7f853.jpg);
}

.muestras-h2 {
  background-image: url(Assets/ede384acb5531e14c0140afabed0d48d.jpg);
}

.muestras-h3 {
  background-image: url(Assets/9679576a341b6014faf17c8127875120.jpg);
}

.muestras-m {
  height: 700px;
  background-image: url(Assets/Outfit-mujer.png);
  background-position: center;
  background-size: cover;
  border: 3px solid #F3C3B2;
}

.muestras-m1 {
  background-image: url(Assets/18a488d04affddc4ddef2e139399da22.jpg);
}

.muestras-m2 {
  background-image: url(Assets/bd2b0b3aa55df91690e04c5bd1cfc209.jpg);
}

.muestras-m3 {
  background-image: url(Assets/ccbccdf90b7ec75522c8982fc3f02d55.jpg);
}

.texto-color {
  color: #F3C3B2;
}

.style-label {
  color: #657166;
}

.style-input {
  border: solid 3px #F3C3B2;
}

.titulo-contacto {
  color: #F3C3B2;
}

.texto-c {
  color: #657166;
}

.boton-submit {
  border: solid 3px #F3C3B2;
  color: #657166;
  background-color: white;
}

.boton-submit:hover {
  color: #F3C3B2;
  border-color: #657166;
}

#comment {
  resize: none;
  height: 6.25rem;
}

.popup {
  color: #F3C3B2;
  border: 0.125rem solid #F3C3B2;
}

.boton-popup {
  all: unset;
  color: #F3C3B2;
  border: 0.125rem solid #F3C3B2;
  padding: 0.25rem;
  border-radius: 0.3125rem;
  margin-bottom: 0.125rem;
  width: 12.5rem;
}

.boton-popup:hover {
  color: white;
  border-color: white;
  background-color: #F3C3B2;
}

.main-inicio-sesion {
  background-color: #CFD6C4;
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-inicio-sesion {
  align-content: center;
  height: 60vh;
  width: 60vw;
  background-color: white;
  border: 0.3125rem solid #F3C3B2;
  border-radius: 0.4375rem;
}

.h1-registro {
  font-size: large;
}

@media only screen and (max-width: 575px) {
  .tamaño-img-cel {
    height: 350px;
    width: 350px;
  }
  .muestras-m2, .muestras-m3 {
    background-position: initial;
  }
}
@media only screen and (min-width: 1024px) {
  .galeria {
    grid-template: "galeria1 galeria1 galeria2" 300px "galeria1 galeria1 galeria3" 300px "galeria1 galeria1 galeria4" 150px/300px 300px 300px;
    justify-content: center;
    height: auto;
  }
}
@media only screen and (max-width: 768px) {
  .imgh1 {
    object-fit: cover;
  }
}
@media only screen and (min-width: 956px) {
  .novedades {
    width: 717px !important;
    font-size: 24px !important;
    top: 66% !important;
  }
}
@media only screen and (max-width: 464px) {
  .div-inicio-sesion {
    width: 80vw;
    height: 80vh;
    font-size: small;
  }
}
.imgh {
  height: 700px;
  background-position: center;
  background-size: cover;
  object-fit: cover;
}

.imgh1 {
  background-image: url(Assets/man-7061821_1280\ \(1\).jpg);
}

.imgh2 {
  background-image: url(Assets/man-6790692_1280.jpg);
}

.imgh3 {
  background-image: url(Assets/girl-5688101_1280.jpg);
}

.novedades {
  position: absolute;
  top: 70%;
  width: 340px;
  font-size: 18px;
  color: #F3C3B2;
  border: solid 3px rgb(189, 155, 155);
  text-shadow: black 3px 4px 5px;
}

.boton-nov {
  text-decoration: none;
  color: #F3C3B2;
  border: 3px solid rgb(189, 155, 155);
  border-radius: 0px;
}

.boton-nov:hover {
  background-color: #F3C3B2;
  color: white;
}

.imginfo {
  background-image: url(Assets/picture-2008484_1280.jpg);
  background-position: center;
  background-size: cover;
}

.imginfo1 {
  background-image: url(Assets/WhatsApp\ Image\ 2024-04-24\ at\ 14.02.42.jpeg);
}

.bg-person {
  background-color: #586d5a;
  color: #CFD6C4;
}

.color-p {
  color: #F3C3B2;
}

*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background-color: #657166;
}

*::-webkit-scrollbar-thumb {
  background-color: #F3C3B2;
  border: 2px solid #657166;
}

.boton-img-h {
  height: 3.625rem;
  padding: 1px;
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
