.img-articulo{
    height: 8.125rem;
    width: 8.125rem;
    min-height: 6.25rem;
    min-width: 6.25rem;
    border: .125rem solid $color2;
}
.div-carrito{
    width: 100%;
    padding: 0 .3125rem 1.25rem .3125rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: .3125rem;
    font-size: 1rem;
    text-transform: uppercase;
    font-family: $font2;
    position: relative;
    margin-top: 20px;

}
.div-carrito::after {
    content: "";
    position: absolute;
    bottom: 0; /* Ubica el borde en la parte inferior del div */
    left: 50%; /* Centra horizontalmente el borde */
    width: 99%; /* Ajusta el ancho del borde según tus necesidades */
    height: 2px; /* Ajusta el grosor del borde */
    background-color: $color2; /* Color del borde */
    transform: translateX(-50%); /* Centra el borde horizontalmente */
}
.info-carrito{
    display: flex;
    flex-direction: column;
    padding: 4px;
    height: 8.125rem;
}
.precio-carrito{
    font-size: 1.4375rem;
    opacity: 0.5;
}
#total-carrito{
    margin: .3125rem;
    padding: .3125rem;
}
.btn-eliminar{
    width: 100px;
    height: 50px;
}
h1{
    font-family: $font1;
}

.h2-carrito{
    white-space: pre;
}

#elementos:first-child{
    border: 2px 0 0 0 solid red;
    color: red;
}

.input-cantidad{
    text-align: center;
    height: 30px;
    width: 30px;
    border: 2px solid $color2;
}

.input-cantidad::-webkit-inner-spin-button, ::-webkit-outer-spin-button{
    -webkit-appearance: none;
}
#div-cantidad button{
    border: 2px solid $color2;
    background-color: white;
    height:30px;
    width: 30px;
    
}
// #div-cantidad{
//     white-space: ;
// }
.deshabilitar{
    pointer-events: none;
    content: "Artículo añadido al carrito";
}