.galeria {
    display: grid;
    grid-template-areas: "galeria1 galeria2"
    "galeria1 galeria2"
        "galeria1 galeria3"
        "galeria1 galeria3"
        "galeria1 galeria4";
    height: 50vh;
    gap: .625rem;
    padding: .625rem;
}

.galeria1 {
    grid-area: galeria1;
    background-image: url(Assets/picture-2008484_1280.jpg);
}

.galeria2 {
    grid-area: galeria2;
    background-image: url(Assets/picture-2008484_1280.jpg);
}

.galeria3 {
    grid-area: galeria3;
    background-image: url(Assets/picture-2008484_1280.jpg);
}

.galeria4 {
    grid-area: galeria4;
    background-image: url(Assets/picture-2008484_1280.jpg);
}

.ocupa {
    background-size: cover;
    background-position: center;
    border: 2px solid $color2;
}