.card-look{
    border: solid 3px $color2;
    width: 18rem;
    font-family: $font2;
}
.btn-look{
    color: $color2;
    background-color: $color1;
    border: 2px solid $color2;
}
.btn-look:hover{
    color: $color1;
    background-color: $color2;
    border-color: $color1;
}