.main-inicio-sesion{
    background-color: $color3;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div-inicio-sesion{
    // align-items: center;
    align-content: center;
    height: 60vh;
    width: 60vw;
    background-color: white;
    border: .3125rem solid $color2;
    border-radius: .4375rem;
}
.h1-registro{
    font-size: large;
}

input#user-name:focus, input#password:focus{
    border: .125rem solid $color3;
    box-shadow: none;
}