.popup{
    color: $color2;
    border: .125rem solid $color2;
}
.boton-popup{
    all: unset;
    color: $color2;
    // background-color: $color2;
    border: .125rem solid $color2;
    padding: .25rem;
    border-radius: .3125rem;
    margin-bottom: .125rem;
    width: 12.5rem;
}
.boton-popup:hover{
    color: white;
    border-color: white;
    background-color: $color2
}